.scrollable-div {
  height: 600px;
  overflow-y: scroll;
  animation: scrollAnimation 5s linear forwards;
  animation-delay: 0.2s;
}

@keyframes scrollAnimation {
  0% {
    scroll-behavior: auto;
  }
  100% {
    scroll-behavior: smooth;
    scroll-snap-align: end;
  }
}

.news-flash-card {
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  border-color: #241bce;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.news-flash-body {
  padding: 10px;
}

.news-flash-text {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}


